* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  --bg-color1: #FFFFFF;
  --bg-color2: #faeeff;
  --text-color1: #0DAC98;
  --text-color2: #5E44FF;
}

body {
  padding-top: 66px;
  background: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color1);
  width: 100%;
  padding: .6rem .4rem 0 .4rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}


.btn {
  background: #E9E5FF;
  color: #5E44FF;
  padding: .7rem;
  border-radius: .3rem;
  margin: 0 5px 0 0;
}


.sec1 {
  display: flex;
  flex-direction: column;
  background: var(--bg-color2);
  align-items: center;
  /* width: 900px; */
}

small {
  display: flex;
  gap: .4px;
  text-wrap: nowrap;
  /* margin-left: 41%;
  margin-right: 40%; */
  color: var(--text-color1);
  background: var(--bg-color);
  font-weight: 550;
}

.star1 {
  display: flex;
  width: 50%;
}

.star2 {
  display: flex;
  width: 50%;
}

.h-word {
  text-wrap: wrap;
  margin-top: 18px;
  font-size: 50px;
  font-weight: 600;
  word-spacing: .5rem;
  text-align: center;
  padding: 0 50px 0 50px;
}

.span1 {
  color: var(--text-color1);
}

span {
  color: #5E44FF;
}

.feedback {
  text-align: center;
  text-wrap: wrap;
}

.btn2 {
  background: var(--text-color2);
  color: var(--bg-color1);
  padding: .7rem;
  font-size: 1rem;
  border-radius: .3rem;
  margin: 32px 0 32px 0;
}

.sec2 {
  width: 100%;
  background: var(--bg-color2);
}

.sec3 {
  display: flex;
  width: 100%;
  background: var(--bg-color2);
}

.blue1 {
  background: var(--text-color2);
  width: 50%;
  height: 6rem;
  border-radius: 0 4rem 0 0;
}

.blue2 {
  background: var(--text-color2);
  width: 50%;
  height: 6rem;
  border-radius: 4rem 0 0 0;
}

.sec4 {
  display: flex;
  align-items: center;
  background: var(--text-color2);
}

.span2 {
  color: var(--bg-color2);
}